.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 16px;
    position: sticky;
    top: 72px;
    background: white;
    z-index: 10;
}

.categories a {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .categories a {
        white-space: nowrap;
    }
}
