.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image {
    width: auto;
    height: auto;
    max-height: 40px;
}

.text {
    font-size: 20px;
    font-weight: 800;
    color: var(--color-text-primary);
}

.accent {
    color: var(--color-primary);
}